Repository mlops-for-mle/tutorial, pull requests merged in 2022-11, with the labels that each got.

#2 update base model pipeline post
  docs/model-development/base-model-pipeline.md
Labels: size/L

#3 add google search console and fix config
  docusaurus.config.js
  package-lock.json
  package.json
  static/googlee5904fe980148e9b.html
Labels: size/XL

#5 fix bracket
  .pre-commit-config.yaml
  docs/intro.md
  docs/model-development/base-model-development.md
  docs/model-development/base-model-pipeline.md
  docs/model-development/img/model-development-1.png
  docs/model-development/img/model-development-2.png
  docs/model-development/load-data-from-database.md
  docs/model-development/overview.md
Labels: size/M

#7 :bug: Chapter order fixed
  docs/fastapi/_category_.json
  docs/model-deployment/_category_.json
Labels: size/S
