Repository mlops-for-mle/tutorial, pull requests merged in 2022-12, with the labels that each got.

#6 🎨 Feature/ch3 model registry
  docs/model-registry/img/model-registry-1.png
  docs/model-registry/img/model-registry-10.png
  docs/model-registry/img/model-registry-11.png
  docs/model-registry/img/model-registry-2.png
  docs/model-registry/img/model-registry-3.png
  docs/model-registry/img/model-registry-4.png
  docs/model-registry/img/model-registry-5.png
  docs/model-registry/img/model-registry-6.png
  docs/model-registry/img/model-registry-7.png
  docs/model-registry/img/model-registry-8.png
  docs/model-registry/img/model-registry-9.png
  docs/model-registry/load-model-from-registry.md
  docs/model-registry/mlflow-setup.md
  docs/model-registry/overview.md
  docs/model-registry/save-model-to-registry.md
Labels: size/XL

#4 add initial posts for chapter1
  docs/database/data-generator-docker-compose.md
  docs/database/data-generator-docker.md
  docs/database/data-insertion-loop.md
  docs/database/data-insertion.md
  docs/database/db-server-creation.md
  docs/database/img/db-1.png
  docs/database/img/db-2.png
  docs/database/img/db-3.png
  docs/database/img/db-4.png
  docs/database/img/db-5.png
  docs/database/overview.md
  docs/database/table-creation.md
Labels: size/XXL

#9 Update from review
  community/contributors.md
  community/discussion.md
  community/how-to-contribute.md
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/db-server-creation.mdx
  docs/database/table-creation.mdx
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
  docs/fastapi/fastapi-on-docker.mdx
  docs/fastapi/fastapi-tutorial.mdx
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-development/overview.md
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/overview.md
  docs/model-registry/save-model-to-registry.mdx
  docusaurus.config.js
  src/components/CodeDescription/index.tsx
  src/components/CodeDescription/styles.module.css
  src/components/TeamProfileCards/index.tsx
  src/css/custom.css
Labels: size/XL

#13 update workflow images
  docs/database/data-generator-docker.mdx
  docs/database/img/db-1.png
  docs/img/architecture.png
  docs/intro.mdx
  docs/model-development/img/model-development-1.png
  docs/model-development/img/model-development-2.png
  docs/model-registry/img/model-registry-1.png
  docs/model-registry/img/model-registry-2.png
  docs/model-registry/img/model-registry-6.png
  docs/model-registry/img/model-registry-9.png
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/overview.md
Labels: size/M

#17 highlight cherry picking
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/table-creation.mdx
  docs/model-deployment/_category_.json
  docs/model-deployment/overview.md
  docs/model-development/load-data-from-database.mdx
  docs/model-development/overview.mdx
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/overview.mdx
  docs/model-registry/save-model-to-registry.mdx
  src/components/CodeDescription/index.tsx
  src/components/Highlight.tsx
Labels: size/L

#18 docker network
  docs/database/data-generator-docker-compose.mdx
Labels: size/L

#16 :sparkles: Feature/ch6-api-serving
  docs/api-serving/_category_.json
  docs/api-serving/img/api-serving-1.png
  docs/api-serving/img/api-serving-2.png
  docs/api-serving/img/api-serving-3.png
  docs/api-serving/img/api-serving-4.png
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/model-api.mdx
  docs/api-serving/overview.md
  docs/fastapi/fastapi-on-docker.mdx
Labels: size/XL

#11 add chapter 7 initial
  README.md
  docs/kafka/connect-connector.mdx
  docs/kafka/img/kafka-1.png
  docs/kafka/img/kafka-10.png
  docs/kafka/img/kafka-11.png
  docs/kafka/img/kafka-12.png
  docs/kafka/img/kafka-13.png
  docs/kafka/img/kafka-14.png
  docs/kafka/img/kafka-15.png
  docs/kafka/img/kafka-2.png
  docs/kafka/img/kafka-3.png
  docs/kafka/img/kafka-4.png
  docs/kafka/img/kafka-5.png
  docs/kafka/img/kafka-6.png
  docs/kafka/img/kafka-7.png
  docs/kafka/img/kafka-8.png
  docs/kafka/img/kafka-9.png
  docs/kafka/img/kafka-gif-1.gif
  docs/kafka/kafka-introduction.mdx
  docs/kafka/kafka-system.mdx
  docs/kafka/overview.md
  docs/kafka/overview.mdx
  docs/kafka/producer-consumer.mdx
  docs/kafka/sink-connector.mdx
  docs/kafka/source-connector.mdx
  package.json
Labels: size/XXL

#20 add how to contribute
  community/how-to-contribute.md
Labels: size/M

#21 How to start this project
  README.md
  package-lock.json
Labels: size/XXXL

#22 :art: Enhance document (Part 1, Part 6)
  docs/api-serving/img/api-serving-5.png
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/overview.md
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/db-server-creation.mdx
  docs/database/overview.md
  docs/database/overview.mdx
  docs/database/table-creation.mdx
Labels: size/L

#23 update model development to sync tone&manner
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-development/overview.mdx
Labels: size/L

#24 add gtag
  docusaurus.config.js
Labels: size/XS

#25 add thumbnail
  docusaurus.config.js
  src/pages/markdown-page.md
  static/img/logo.png
Labels: size/S

#28 Enhance/update ch2
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-development/overview.mdx
Labels: enhancement, size/M

#42 PR#27 intro part cherry pick
  docs/img/pipeline.png
  docs/intro.mdx
Labels: size/M

#39 🛠️ Update Contribution Tone & Manner
  community/how-to-contribute.md
Labels: size/M

#41 fix: ch3
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/save-model-to-registry.mdx
Labels: enhancement, size/S

#40 Enhance/update ch1 haeun
  docs/intro.mdx
Labels: enhancement, size/S

#27 Enhance/update-ch1
  .github/labeler.yml
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/db-server-creation.mdx
  docs/database/overview.mdx
  docs/database/table-creation.mdx
  docs/intro.mdx
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-development/overview.mdx
Labels: enhancement, size/XL

#33 Enhance/update ch5
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
  docs/fastapi/fastapi-on-docker.mdx
  docs/fastapi/fastapi-tutorial.mdx
  docs/fastapi/img/fastapi-4.png
  docs/fastapi/img/fastapi-5.png
  docs/fastapi/img/fastapi-6.png
  docs/fastapi/img/fastapi-7.png
  docs/fastapi/img/fastapi-8.png
  docs/fastapi/img/fastapi-9.png
  docs/fastapi/overview.mdx
Labels: enhancement, size/L

#37 Enhance/update ch6
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/model-api.mdx
  docs/api-serving/overview.mdx
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
Labels: enhancement, size/M

#31 Enhance/update-ch3
  docs/database/data-insertion-loop.mdx
  docs/database/table-creation.mdx
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/overview.mdx
  docs/model-registry/save-model-to-registry.mdx
Labels: enhancement, size/XL

#44 add haeun-oh to contributor
  src/components/TeamProfileCards/index.tsx
Labels: enhancement, size/S

#45 :memo: expand code block usage
  community/how-to-contribute.md
Labels: size/S

#48 cherry pick part 0
  docs/intro.mdx
Labels: enhancement, size/XS

#51 cherry pick part 5
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
  docs/fastapi/fastapi-on-docker.mdx
  docs/fastapi/fastapi-tutorial.mdx
  docs/fastapi/img/fastapi-4.png
  docs/fastapi/img/fastapi-5.png
  docs/fastapi/img/fastapi-6.png
  docs/fastapi/img/fastapi-7.png
  docs/fastapi/img/fastapi-8.png
  docs/fastapi/img/fastapi-9.png
  docs/fastapi/overview.mdx
Labels: enhancement, size/L

#53 cherry pick part 6
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/model-api.mdx
  docs/api-serving/overview.mdx
Labels: enhancement, size/M

#50 cherry pick part 4
  docs/img/rest-api.png
  docs/model-deployment.mdx
Labels: enhancement, size/S

#43 Enhance/update ch7
  docs/kafka/connect-connector.mdx
  docs/kafka/img/kafka-1.png
  docs/kafka/img/kafka-5.png
  docs/kafka/img/kafka-6.png
  docs/kafka/kafka-introduction.mdx
  docs/kafka/kafka-system.mdx
  docs/kafka/overview.mdx
  docs/kafka/producer-consumer.mdx
  docs/kafka/sink-connector.mdx
  docs/kafka/source-connector.mdx
  docs/model-deployment.mdx
Labels: enhancement, size/XXL

#46 Enhance/ch5 haeun
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-tutorial.mdx
Labels: enhancement, size/S

#47 Enhance/update ch8
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/table-creation.mdx
  docs/kafka/sink-connector.mdx
  docs/model-deployment.mdx
  docs/stream/dashboard.mdx
  docs/stream/overview.mdx
  docs/stream/stream-serving.mdx
Labels: enhancement, size/XL

#54 :art: Enhance/part6 add health check
  docs/api-serving/model-api-on-docker-compose.mdx
Labels: enhancement, size/S

#59 :art: Enhance part3
  docs/model-registry/mlflow-setup.mdx
Labels: enhancement, size/S

#60 :art: Enhance part4
  docs/model-deployment.mdx
Labels: enhancement, size/S

#58 :busts_in_silhouette: add jonhyuk to reviewer
  src/components/TeamProfileCards/index.tsx
Labels: enhancement, size/S

#61 :art: Enhance part1
  docs/intro.mdx
Labels: enhancement, size/XS

#55 add Chapter Preview
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/model-api.mdx
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/db-server-creation.mdx
  docs/database/table-creation.mdx
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
  docs/fastapi/fastapi-on-docker.mdx
  docs/fastapi/fastapi-tutorial.mdx
  docs/intro.mdx
  docs/kafka/connect-connector.mdx
  docs/kafka/kafka-introduction.mdx
  docs/kafka/kafka-system.mdx
  docs/kafka/producer-consumer.mdx
  docs/kafka/sink-connector.mdx
  docs/kafka/source-connector.mdx
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/save-model-to-registry.mdx
  docs/stream/dashboard.mdx
  docs/stream/stream-serving.mdx
  src/components/PreviewDescription/index.tsx
  src/components/PreviewDescription/styles.module.css
Labels: enhancement, size/XL

#64 :art: Check part & chapter tags
  docs/model-development/load-data-from-database.mdx
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/save-model-to-registry.mdx
  docs/stream/dashboard.mdx
  docs/stream/overview.mdx
  docs/stream/stream-serving.mdx
Labels: enhancement, size/S

#63 Enhance/chap2 jon
  docs/database/data-insertion.mdx
  docs/intro.mdx
  docs/model-development/base-model-development.mdx
Labels: enhancement, size/S

#65 update discussion
  community/discussion.md
  docusaurus.config.js
  src/components/HomepageFeatures/index.tsx
Labels: enhancement, size/S

#66 :art: Enhance part8
  docs/stream/dashboard.mdx
Labels: enhancement, size/S

#67 enhance/chap4_jon
  docs/model-deployment.mdx
Labels: enhancement, size/XS

#68 enhance/update-readme
  README.md
Labels: enhancement, size/S

#69 change ch to part
  docs/api-serving/model-api-on-docker-compose.mdx
  docs/api-serving/model-api.mdx
  docs/database/data-generator-docker-compose.mdx
  docs/database/data-generator-docker.mdx
  docs/database/data-insertion-loop.mdx
  docs/database/data-insertion.mdx
  docs/database/db-server-creation.mdx
  docs/database/table-creation.mdx
  docs/fastapi/fasapi-crud-pydantic.mdx
  docs/fastapi/fastapi-crud.mdx
  docs/fastapi/fastapi-on-docker.mdx
  docs/fastapi/fastapi-tutorial.mdx
  docs/intro.mdx
  docs/kafka/connect-connector.mdx
  docs/kafka/kafka-introduction.mdx
  docs/kafka/kafka-system.mdx
  docs/kafka/producer-consumer.mdx
  docs/kafka/sink-connector.mdx
  docs/kafka/source-connector.mdx
  docs/model-development/base-model-development.mdx
  docs/model-development/base-model-pipeline.mdx
  docs/model-development/load-data-from-database.mdx
  docs/model-registry/load-model-from-registry.mdx
  docs/model-registry/mlflow-setup.mdx
  docs/model-registry/save-model-to-registry.mdx
  docs/stream/dashboard.mdx
  docs/stream/stream-serving.mdx
Labels: enhancement, size/L

#70 fix to bracket
  docs/api-serving/overview.mdx
Labels: size/XS, hotfix

#71 enhance/update-tutorial
  docs/database/data-generator-docker-compose.mdx
  docs/database/overview.mdx
  docs/kafka/connect-connector.mdx
  docs/kafka/kafka-introduction.mdx
  docs/stream/overview.mdx
Labels: enhancement, size/S

#72 fix arrow to sink connector
  docs/img/architecture.png
  docs/kafka/img/kafka-1.png
  docs/kafka/img/kafka-13.png
  docs/kafka/img/kafka-14.png
  docs/kafka/img/kafka-15.png
  docs/stream/img/stream-1.png
  docs/stream/img/stream-2.png
Labels: size/XS, need-to-change-branch-name

#73 Enhance/ch7 haeun
  docs/kafka/connect-connector.mdx
  docs/kafka/kafka-system.mdx
  docs/kafka/producer-consumer.mdx
  docs/kafka/source-connector.mdx
Labels: enhancement, size/S
